body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

ul.header {
  background-color: #0000a0;
  padding: 0;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.content {
  background-color: #eeeeee;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: steelblue;
}

.activeV2 {
  background-color: lightgoldenrodyellow;
}

/* daniel style */
td,
th {
  padding: 10px;
  border: 1px solid black;
}
.activeButton {
  background-color: aquamarine;
}
.buttonContainer {
  padding: 20px;
  padding-left: 0;
}
.buttonContainer button {
  width: 50px;
  height: 30px;
  box-shadow: 1px 1px 2px black;
  display: inline-block;
}
.content {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 2px black;
  background: whitesmoke;
}
